<div class="container pad0 marg0">
    <div class="row bottom-navbar marg0">
        <div class="col-4 pad0 ">
            <button type="button" class="btn btn-secondary bottom-nav-left-button block Montserrat">Profile</button>
        </div>
        <div class="col-4 pad0 ">
            <button type="button" class="btn btn-secondary block bottom-nav-middle-button Montserrat">Past Rides</button>
        </div>
        <div class="col-4 pad0 ">
            <button type="button" class="btn btn-secondary block bottom-nav-right-button Montserrat Montserrat">Settings</button>
        </div>
    </div>
</div>